<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Server_Jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>StartXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ch02_start/Start_xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSport</servlet-name>
    <servlet-class>SportServletXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSport</servlet-name>
    <url-pattern>/study/study02/Sport_xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberXML</servlet-name>
    <servlet-class>MemberServletXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberXML</servlet-name>
    <url-pattern>/study/study02/Member_xml</url-pattern>
  </servlet-mapping>
</web-app>